<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">CAMEL</h5>
    <p class="card-text">
      CAMEL is an online platform that compiles details of studies
      employing evolution experiments. Through community-driven
      updates, it has the goal to capture the recent explosion of the
      field, to serve as a searchable and comparative reference to
      both novice researchers and veterans in the field and to allow
      for large-scale meta-analyses.
    </p>
    <p class="card-text">
      This <span class="acronym">C</span>ompendium
      of <span class="acronym">A</span>daptive
      <span class="acronym">M</span>icrobial <span class="acronym">E</span>xperiments
      in the <span class="acronym">L</span>ab was initiated in
      following review:<br> Bram Van den Bergh, Toon Swings, Maarten
      Fauvart & Jan Michiels (2018)
      <a href="https://mmbr.asm.org/content/82/3/e00008-18" target="_blank">Experimental
      design, population dynamics and diversity in microbial
      experimental evolution</a>
      . Microbiology and Molecular Biology Reviews (<a href="http://mmbr.asm.org/" target="_blank">MMBR</a>).
    </p>
    <p class="card-text">
      Please cite this review when you use the database.
    </p>
    <p>
      The platform is maintained by the Michiels and Van Noort Labs at
      KU Leuven – VIB and was developped at the VIB Bioinformatics
      Core (Thomas Van Parys). To start browsing, go to
      the <a href="#!/experiments">experiments page</a> . For
      documentation on the database <a href="#!info">API</a>
      , please refer to the README on
      <a href="https://github.com/vibbits/CAMEL" target="_blank">Github</a>.
    </p>
    <p>
      Want to contribute with corrections, data or new entries?  Please
      visit the <a href="#!/contact">contact</a>
      page for instructions.
    </p>
  </div>
</div>

<a class="btn btn-primary btn-lg btn-block" role="button" href="#!/experiments">
  Browse the {{home.experiment_count}} Experiments
</a>

<div class="row mt-3">
  <div class="col-lg-6 mb-lg-0 mb-3">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title">Most used Species</h5>
	<count-chart field-title="Species" col-nr="8" custom-grid="home.speciesGrid"></count-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title">Sequencing Technology over time</h5>
	<time-chart field-title="WGS Technology"></time-chart>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-6 mb-lg-0 mb-3">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title">Experiment Duration</h5>
	<dist-chart field-title="Absolute Time" unit="days"
		    bin-number="10"
		    min="0"
		    max="200"></dist-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-lg-0 mb-3">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title">Number of Lines</h5>
	<dist-chart field-title="Number of Lines"
		    bin-number="10"
		    min="0"
		    max="100"></dist-chart>
      </div>
    </div>
  </div>
</div>
