<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h1>CAMEL</h1>
            <div class="row col-xs-12">
	      This database is part of the following review:
	      Bram Van den Bergh, Toon Swings, Maarten Fauvart & Jan Michiels (2018) Experimental design,
	      population dynamics and diversity in microbial experimental evolution. Microbiology and Molecular Biology Reviews (MMBR).
	      
	      Please cite this review when you use the database.
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">$.material.init();</script>
