<h3>Contact</h3>

<div class="ml-3 mb-5">
  <div class="row mb-3">
    <div class="col-auto">
      <i class="material-icons" title="email" area-hidden="true">mail</i>
      <span class="sr-only">email</span>
    </div>
    <div class="col">
      <a href="mailto:jan.michiels@kuleuven.vib.be"
        >jan.michiels@kuleuven.vib.be</a
      >
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-auto">
      <i class="material-icons" title="phone" area-hidden="true">phone</i>
      <span class="sr-only">phone number</span>
    </div>
    <div class="col">
      +32 16 32 16 31 (secretariat)<br />
      +32 16 32 96 84 (office)
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <i class="material-icons" title="address" area-hidden="true"
        >location_on</i
      >
      <span class="sr-only">postal address</span>
    </div>
    <div class="col">
      Centre of Microbial and Plant Genetics<br />
      VIB-KU Leuven Center for Microbiology<br />
      Symbiotic and Pathogenic Interactions group<br />
      University of Leuven<br />
      Kasteelpark Arenberg 20 - bus 2460<br />
      B-3001 Leuven, Belgium
    </div>
  </div>
</div>

<h3>Contribute</h3>
<p>
  We are looking forward to contributions from all experts throughout the world.
  To contribute with new entries, please fill out this
  <a href="assets/files/metadatatemplate.xlsx">template excel file</a>
  with the metadata of your experiment and email it to us in attachment.
  Optionally, also attach variant data of genome-wide sequencing by using this
  <a href="assets/files/Mutationlisttemplate.xlsx">template file</a>.
</p>
<p>
  For changes to existing entries, you only have to fill out the fields of
  metadata that you would like to change and the experiment's name. Adding
  mutation data can also be done in a similar way by using the same template
  file and mentioning the experiment's name.
</p>
<p>
  For more complex changes or suggestions, please contact us directly.
  Contributors will always be acknowledged appropriately in future output.
</p>
