<h3>Edit Experiment</h3>

<div class="row">
  <div class="card" data-ng-if="!auth.isAuthenticated()">
    <div class="card-body">
      <h5 class="card-title">Not logged in</h5>
      <p>
	As you are not logged in with <em>Editor privileges</em>, any
	changes made to this Experiment entry will be saved separately
	as an edit suggestion to the curators of this database.
      </p>
      <p>
	You can leave your email address if you wish the curators to
	contact you when reviewing your suggestions.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <input type="text" class="form-control form-control-lg" placeholder="Experiment Name" data-ng-model="exp.name">
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <label for="field-select">Add field: </label>
      <select id="field-select" data-ng-model="new_field_selected_id">
	<option
	  value="{{field.id}}"
	  data-ng-repeat="field in fields">{{field.title}}</option>
      </select>
      <i class="material-icons align-middle pointer" data-ng-click="expedit.add_field()">add_circle</i>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <div data-ng-repeat="field in fields" data-ng-if="exp.fields.hasOwnProperty(field.id)">
	<div data-ng-switch="field.type_column">
	  <div class="form-group" data-ng-switch-when="value_VARCHAR">
	    <label for="{{field.id}}">{{field.title}}</label>	  
	    <input type="text" class="form-control"
		   id="{{field.id}}"
		   data-ng-repeat="(value_id, field_value) in exp.fields[field.id]"
		   data-ng-model="exp.fields[field.id][value_id]">	
	    <small class="form-text text-muted">{{field.description}}</small>
	  </div>
	  <div class="form-group" data-ng-switch-when="value_TEXT">
	    <label for="{{field.id}}">{{field.title}}</label>
	    <textarea id="{{field.id}}" class="form-control"
		      data-ng-repeat="(value_id, field_value) in exp.fields[field.id]"
		      data-ng-model="exp.fields[field.id][value_id]">
	    </textarea>
	    <small class="form-text text-muted">{{field.description}}</small>
	  </div>
	  <div class="form-group" data-ng-switch-when="value_INT">
	    <label for="{{field.id}}">{{field.title}}</label>
	    <input type="text" class="form-control"
		   id="{{field.id}}"
		   data-ng-repeat="(value_id, field_value) in exp.fields[field.id]"
		   data-ng-model="exp.fields[field.id][value_id]">
	    <small class="form-text text-muted">{{field.description}}</small>
	  </div>
	  <div class="form-check" data-ng-switch-when="value_BOOL">
	    <input type="checkbox" class="form-check-input"
		   id="{{field.id}}"
		   data-ng-true-value="1" data-ng-false-value="0"
		   data-ng-repeat="(value_id, field_value) in exp.fields[field.id]"
		   data-ng-model="exp.fields[field.id][value_id]">
	    <label for="{{field.id}}" class="form-check-label">{{field.title}}</label>
	    <small class="form-text text-muted">{{field.description}}</small>
	  </div>
	  <div class="form-group" data-ng-switch-when="value_DOUBLE">
	    <label for="{{field.id}}">{{field.title}}</label>
	    <input type="text" class="form-control"
		   id="{{field.id}}"
		   data-ng-repeat="(value_id, field_value) in exp.fields[field.id]"
		   data-ng-model="exp.fields[field.id][value_id]">
	    <small class="form-text text-muted">{{field.description}}</small>
	  </div>
	</div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>References</h5>
    <form>
      <fieldset class="form-group" data-ng-repeat="ref in exp.references">
	<div class="form-group">
	  <label for="title_{{ref.id}}">Title</label>
	  <input type="text" id="title_{{ref.id}}" class="form-control" data-ng-model="ref.title">
	</div>      
	<div class="form-group">
	  <label for="authors_{{ref.id}}">Authors</label>
	  <input type="text" id="authors_{{ref.id}}" class="form-control" data-ng-model="ref.authors">
	  <small class="form-text text-muted">Comma-separated list of authors (Lastname FN, ...)</small>
	</div>
	<div class="form-row">
	  <div class="col-md form-group">
	    <label for="year_{{ref.id}}">Year</label>
	    <input type="text" id="year_{{ref.id}}" class="form-control" data-ng-model="ref.year">
	  </div>
	  <div class="col-md form-group">
	    <label for="journal_{{ref.id}}">Journal</label>
	    <input type="text" id="journal_{{ref.id}}" class="form-control" data-ng-model="ref.journal">
	  </div>
	  <div class="col-md form-group">
	    <label for="pages_{{ref.id}}">Pages</label>
	    <input type="text" id="pages_{{ref.id}}" class="form-control" data-ng-model="ref.pages">
	    <small class="form-text text-muted">Free text field representing volume, pages,...</small>
	  </div>
	</div>	
	<div class="form-group">
	  <label for="pubmed_{{ref.id}}">PubMed ID</label>
	  <input type="text" id="pubmed_{{ref.id}}" class="form-control" data-ng-model="ref.pubmed_id">
	</div>
	<div class="form-group">
	  <label for="url_{{ref.id}}">URL</label>
	  <input type="text" id="url_{{ref.id}}" class="form-control" data-ng-model="ref.url">
	  <small class="form-text text-muted">DOI- or direct link to paper</small>
	</div>    
      </fieldset>
    </form>
  </div>
</div>
<div class="row" data-ng-if="!auth.isAuthenticated()">
  <div class="col">
    <form>
      <fieldset class="form-group">
	<legend>Contact</legend>
	<div class="form-group">
	  <label for="email">E-mail</label>
	  <input type="email" id="email" class="form-control" data-ng-model="guest_email">
	  <small class="form-text text-muted">Allow us to contact you.</small>
	</div>
	<div class="form-group">
	  <label for="comments">Comments</label>
	  <textarea type="email" id="comments" class="form-control" data-ng-model="guest_comments"></textarea>
	  <small class="form-text text-muted">Remarks concerning this submission.</small>
	</div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <button type="submit" class="btn btn-primary" data-ng-click="expedit.submit_changes()">Submit all changes</button>
</div>
