<div class="table-responsive row mt-5">
  <h3>Fields Editor</h3>
  <table class="table table-striped">
    <thead class="thead-dark">    
      <tr>
	<th></th>
	<th>Title</th>
	<th>Unit</th>
	<th>Description</th>
	<th>Type</th>
	<th>Link</th>
	<th>Required</th>
	<th>Group</th>
	<th>Group ID</th>
	<th></th>	
      </tr>
    </thead>
    <tbody>      
      <tr data-ng-repeat="field in fields.fields">
	<td><i class="material-icons">drag_handle</i>
	</td>
	<td>
	  <input data-ng-model="field.title">
	</td>
	<td>
	  <input data-ng-model="field.unit" size="4">
	</td>
	<td>
	  <input data-ng-model="field.description">
	</td>
	<td>
	  <select data-ng-model="field.type_column">
	    <option value="value_VARCHAR">STRING</option>
	    <option value="value_TEXT">TEXT</option>
	    <option value="value_INT">NUMBER</option>
	    <option value="value_BOOL">BOOLEAN</option>
	  </select>
	</td>
	<td>
	  <input data-ng-model="field.link" type="checkbox" data-ng-true-value="1" data-ng-false-value="0">
	</td>
	<td>
	  <input data-ng-model="field.required" type="checkbox" data-ng-true-value="1" data-ng-false-value="0">
	</td>
	<td>
	  <input data-ng-model="field.group" type="checkbox" data-ng-true-value="1" data-ng-false-value="0">
	</td>
	<td>
	  <input data-ng-model="field.group_id" size="2">
	</td>
	<td><i class="material-icons pointer">delete</i></td>
      </tr>
    </tbody>
  </table>
</div>
