<div class="table-responsive">
  <table id="experiment-table" class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
	<th scope="col">Name</th>
        <th scope="col" data-ng-repeat="field in fields" data-ng-if="field.show">
	  {{field.title}} <span data-ng-if="field.unit">({{field.unit}})</span>
	</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="experiment in experiments" data-ng-click="showExperiment(experiment)" class="pointer">
	<th scope="row">{{experiment.name}}</th>
	<td data-ng-repeat="field in fields" data-ng-if="field.show">
	  <div data-ng-switch="field.type_column">
	    <div data-ng-switch-when="value_BOOL">
	      <div data-ng-if="experiment.fields[field.id]!=null">
		<i class="material-icons">
		  {{experiment.fields[field.id]? 'check_circle':'not_interested'}}
		</i>
	      </div>
	    </div>
	    <div data-ng-switch-when="value_VARCHAR">
	      <div data-ng-if="field.link">
		<a href="{{experiment.fields[field.id]}}">{{experiment.fields[field.id]}}</a>
	      </div>
	      <div data-ng-if="!field.link">
		{{experiment.fields[field.id].join('; ')}}
	      </div>
	    </div>
	    <div data-ng-switch-default>
	      <span data-ng-repeat="value in experiment.fields[field.id]">
		{{value}}
	      </span>
	    </div>
	  </div>
	</td>
      </tr>
    </tbody>
  </table>
</div>
